{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Otoroshi Admin API",
    "description" : "Admin API of the Otoroshi reverse proxy",
    "version" : "16.25.0-dev",
    "contact" : {
      "name" : "Otoroshi Team",
      "email" : "oss@maif.fr"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "externalDocs" : {
    "url" : "https://www.otoroshi.io",
    "description" : "Otoroshi website"
  },
  "servers" : [ {
    "url" : "http://otoroshi-api.oto.tools:9999",
    "description" : "your local otoroshi server"
  } ],
  "tags" : [ {
    "name" : "biscuit.extensions.cloud-apim.com",
    "description" : "all the operations in the biscuit.extensions.cloud-apim.com group"
  } ],
  "paths" : {
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-attenuators/_count" : {
      "get" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Get number of entity of kind BiscuitAttenuator",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.count",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resources count",
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "number",
                      "description" : "the number of resources"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-rbac/_count" : {
      "get" : {
        "tags" : [ "biscuit-rbac", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Get number of entity of kind BiscuitRBAC",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRBAC.count",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resources count",
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "number",
                      "description" : "the number of resources"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-remote-facts/_bulk" : {
      "post" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Create multiple BiscuitRemoteFactsLoader at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.bulk_create",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Update multiple BiscuitRemoteFactsLoader at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.bulk_update",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Update (using json-patch) multiple BiscuitRemoteFactsLoader at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.bulk_patch",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkPatchBody"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Delete multiple BiscuitRemoteFactsLoader at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.bulk_delete",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-forges/_count" : {
      "get" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Get number of entity of kind BiscuitForge",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.count",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resources count",
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "number",
                      "description" : "the number of resources"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-keypairs/_bulk" : {
      "post" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Create multiple BiscuitKeyPair at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.bulk_create",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Update multiple BiscuitKeyPair at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.bulk_update",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Update (using json-patch) multiple BiscuitKeyPair at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.bulk_patch",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkPatchBody"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Delete multiple BiscuitKeyPair at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.bulk_delete",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-attenuators/_template" : {
      "get" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Return a template of a resource of kind BiscuitAttenuator",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.template",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitAttenuator",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-keypairs/{id}" : {
      "get" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find resource of kind BiscuitKeyPair by its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitKeyPair",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates a specific BiscuitKeyPair using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.updateById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates (using json-patch) a specific BiscuitKeyPair using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.pathById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Deletes a specific BiscuitKeyPair using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.deleteById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-forges" : {
      "get" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find all possible BiscuitForge entities",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.findAll",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Creates a BiscuitForge",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.create",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-verifiers/_count" : {
      "get" : {
        "tags" : [ "biscuit-verifier", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Get number of entity of kind BiscuitVerifier",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitVerifier.count",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resources count",
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "number",
                      "description" : "the number of resources"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-remote-facts/{id}" : {
      "get" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find resource of kind BiscuitRemoteFactsLoader by its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitRemoteFactsLoader",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates a specific BiscuitRemoteFactsLoader using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.updateById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates (using json-patch) a specific BiscuitRemoteFactsLoader using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.pathById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Deletes a specific BiscuitRemoteFactsLoader using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.deleteById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-verifiers/{id}" : {
      "get" : {
        "tags" : [ "biscuit-verifier", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find resource of kind BiscuitVerifier by its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitVerifier.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitVerifier",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitVerifier"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-verifier", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates a specific BiscuitVerifier using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitVerifier.updateById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitVerifier"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitVerifier"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-verifier", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates (using json-patch) a specific BiscuitVerifier using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitVerifier.pathById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitVerifier"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitVerifier"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-verifier", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Deletes a specific BiscuitVerifier using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitVerifier.deleteById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitVerifier"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-remote-facts/_count" : {
      "get" : {
        "tags" : [ "biscuit-remote-facts", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Get number of entity of kind BiscuitRemoteFactsLoader",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRemoteFactsLoader.count",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resources count",
                  "type" : "object",
                  "properties" : {
                    "count" : {
                      "type" : "number",
                      "description" : "the number of resources"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-rbac/{id}" : {
      "get" : {
        "tags" : [ "biscuit-rbac", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find resource of kind BiscuitRBAC by its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRBAC.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitRBAC",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRBAC"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-rbac", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates a specific BiscuitRBAC using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRBAC.updateById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRBAC"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRBAC"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-rbac", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates (using json-patch) a specific BiscuitRBAC using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRBAC.pathById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRBAC"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRBAC"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-rbac", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Deletes a specific BiscuitRBAC using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitRBAC.deleteById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitRBAC"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-attenuators/{id}" : {
      "get" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find resource of kind BiscuitAttenuator by its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitAttenuator",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates a specific BiscuitAttenuator using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.updateById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates (using json-patch) a specific BiscuitAttenuator using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.pathById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Deletes a specific BiscuitAttenuator using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.deleteById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-attenuators/_bulk" : {
      "post" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Create multiple BiscuitAttenuator at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.bulk_create",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Update multiple BiscuitAttenuator at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.bulk_update",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitAttenuator"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Update (using json-patch) multiple BiscuitAttenuator at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.bulk_patch",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : false,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/BulkPatchBody"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Delete multiple BiscuitAttenuator at the same time",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.bulk_delete",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BulkResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-keypairs/_template" : {
      "get" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Return a template of a resource of kind BiscuitKeyPair",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.template",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitKeyPair",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-forges/{id}" : {
      "get" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find resource of kind BiscuitForge by its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.findById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "Resource of kind BiscuitForge",
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates a specific BiscuitForge using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.updateById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Updates (using json-patch) a specific BiscuitForge using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.pathById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/x-ndjson" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "biscuit-forge", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Deletes a specific BiscuitForge using its id",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitForge.deleteById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "The id param of the target entity"
        } ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/x-ndjson" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitForge"
                }
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-keypairs" : {
      "get" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find all possible BiscuitKeyPair entities",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.findAll",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "biscuit-keypair", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Creates a BiscuitKeyPair",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitKeyPair.create",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad resource format. Take another look to the swagger, or open an issue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found or does not exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "the request body in nd-json format (1 stringified entity per line)",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/biscuit.extensions.cloud-apim.com.BiscuitKeyPair"
              }
            }
          }
        }
      }
    },
    "/apis/biscuit.extensions.cloud-apim.com/v1/biscuit-attenuators" : {
      "get" : {
        "tags" : [ "biscuit-attenuator", "biscuit.extensions.cloud-apim.com" ],
        "summary" : "Find all possible BiscuitAttenuator entities",
        "operationId" : "biscuit.extensions.cloud-apim.com.BiscuitAttenuator.findAll",
        "parameters" : [ ],
        "security" : [ {
          "otoroshi_auth" : [ ]
        } ],
        "responses" : {
          "401" : {
            "description" : "You have to provide an Api Key. Api Key can be passed using basic http authentication",
            "content" : {
              "application/json" : {
[...]
